/* Abdllah Abbara - 991798700 */

body {
  font-family: Arial, sans-serif;
  background-color: #FFF6F6;
  margin: 0;
  color: #8CC7C4;
}

.app {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  color: #DB1A1A;
}

form input {
  padding:8px;
  margin-right: 10px;
}

form button {
  padding: 8px 12px;
}

.weather-card {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid;
}

.message-box {
  margin-top: 20px;
}

.forecast-section {
  margin-top: 30px;
}

.forecast-section div {
  border: 1px solid;
  margin: 5px;
  padding:10px;
}

#city-name {
  color: #2C687B;
}

#forecast-length {
  color: #2C687B;
}